@import url('https://fonts.googleapis.com/css?family=Quicksand');

body {
  display: flex;

  align-items: center;
  justify-content: center;

  min-height: 100vh;

  margin: 0;
}

.logo {
  color: #22a7f0;

  background: url('/img/logo.svg') center top no-repeat;

  font-family: 'Quicksand', sans-serif;
  font-size: 1.4em;

  padding-top: 68px;

  text-align: center;

  width: 80px;
}
